.font17 {
  font-size: 17px;
  padding: 10px 0;
}
.color-gray {
  color: #999999;
}
.cityPosition {
  background-color: #fcfffc;
  .locaalPosition {
    height: 20px;
    width: 100%;
    margin: 10px 20px;
    position: relative;
    .icon1 {
      font-size: 15px;
      background-color: #13a379;
      color: #ffffff;
      border-radius: 50%;
      padding: 0 3px;
      position: absolute;
      right: 25px;
    }
  }
  .hotPosition {
    margin: 0 20px;
    position: relative;
    .hotTitle {
      position: absolute;
      right: -12px;
    }
  }
}

.rentFather {
  margin: 20px 10px;
  .rentDiv1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      color: #777777;
      font-size: 14px;
    }
    .rentGroup {
      font-size: 17px;
    }
  }
  .rentDiv2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .rentItem {
      margin: 10px 0;
      background-color: #ffffff;
      display: flex;
      width: 46%;
      justify-content: center;
      padding-top: 20px;
      height: 85px;
      .leftRent {
        width: 50%;
        border-radius: 10px;
        text-align: center;
        .title {
          font-size: 14px;
          font-weight: bold;
        }
        .desc {
          color: #999999;
          font-size: 12px;
        }
      }
      .rightRent{
        width: 50%;
        text-align: center;
        .rentImg {
          width: 45px;
          height: 45px;
        }
      }
     
    }
  }

}
.paddBtm {
  padding-bottom: 51px;
}

.news {
  width: 100vw;
  height: 100%;
  background-color: #ffffff;
  padding-left: 10px;
  .newsDiv {
    padding: 10px 0px;
    padding-right: 30px;
    display: flex;
    justify-content: space-around;
    .leftDiv {
      width: 40%;
      img {
        width: 128px;
      }
    }
    .rightDiv {
      margin-left: 20px;
      .title {
        font-weight: bold;
      }
      .desc {
        margin-top: 45px;
        span {
          font-size: 12px;
          color: #b1aeae;
        }
        span:nth-child(2) {
          margin-left: 100px;
        }
      }
    }
  }
}

.swiperOut {
  position: relative;
  .searchBox {
    position: absolute;
    top: 20px;
    margin: 0 30px;
    border-radius: 5px;
    width: 75vw;
    background-color: #ffffff;
    display: flex;
    height: 35px;
    .leftCity {
      display: flex;
      line-height: 35px;
      margin-left: 10px;
      span {
        color: #cccccc;
        margin-left: 10px;
      }
      .cityIcon {
        margin-top: 11px;
        margin-left: 5px;
        font-size: 12px;
    
      }
    }
    .centerSearch {
      margin-left: 15px;
      line-height: 35px;
      .searchIcon {
        font-size: 16px;
        color: #999999;
      }
      span {
        color: #999999;
        margin-left: 5px;
      }
    }
    .rightLocation {
      position: relative;
      left: 90px;
      margin-top: 6px;
      img {
        width: 25px;
        border: 2px solid #ffffff;
        padding: 2px;
        border-radius: 50%;
      }
    }
  }
}


.city {
  .title {
    font-size: 14px;
    padding: 10px 15px;
    color: #999;
  }
  .name {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    line-height: 50px;
    border-bottom: 1px solid #eeeeee;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    cursor: pointer;
  }
}
ul {
  list-style-type: none;
}

.city-index {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 5px;
  z-index: 1;
  height: 90%;
  box-sizing: border-box;
  padding-top: 20px;
  text-align: center;
  .city-index-item {
    flex: 1;
  }
  .index-active {
    color: #fff;
    background-color: #24b97a;
    border-radius: 100%;
    display: inline-block;
    font-size: 12px;
    width: 15px;
    height: 15px;
    line-height: 15px;
  }
}